body {
  font-family: 'Nunito', sans-serif;
  background-color: #56bc8a;
}

#canvas {
  margin: auto;
  display: block;
  box-shadow: 0 0 0px #47b27f;
}

h1, #counter {
  color: white;
  margin-top: 0px;
  float: left; /* Обтекание справа */
  width: 50%; /* Ширина текстового блока */
  margin-bottom: 0px;
}

#counter {
  /*margin-top: 10px;*/
  text-align: right;
}

h1 {
  font-size: 18px;
}

div {
  text-align: center;
}

a {
  margin-top: 0px;
  font-size: 12pt;
  color: white;
}
